<div class="container">
  <div class="content">
    <header>
      <img src="../../../assets/default-image.jpg" alt="Default image" />
      <div>
        <strong>Desconhecido</strong>
      </div>
    </header>

    <form novalidate [formGroup]="form" (ngSubmit)="submit()">
      <input
        id="search"
        name="search"
        type="text"
        placeholder="Digite sua música/artista"
        formControlName="search"
        [(ngModel)]="search"
        [ngClass]="{ 'error-input': f.search.touched && f.search.invalid }"
      />
      <button type="submit" [disabled]="search.length === 0">Buscar</button>
    </form>
    <span
      *ngIf="f.search.touched && f.search.invalid"
      [ngClass]="{ error: f.search.invalid }"
      >Por favor, entre com seu artista</span
    >
  </div>
</div>
