<div class="container">
  <div class="content">
    <header>
      <img
        [src]="
          user?.images[0].url
            ? user?.images[0].url
            : '../../../assets/default-image.jpg'
        "
        [alt]="user?.display_name"
      />
      <div>
        <strong>{{ user?.display_name }}</strong>
      </div>
    </header>

    <form novalidate (ngSubmit)="submit()">
      <input
        id="search"
        name="search"
        type="text"
        placeholder="Digite sua música/artista"
        [(ngModel)]="search"
        [ngClass]="hasError ? 'error-input' : ''"
      />
      <button type="submit" [disabled]="search.length === 0">Buscar</button>
    </form>
    <span class="error" *ngIf="hasError">Por favor, entre com seu artista</span>
  </div>
</div>
